<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Office Employee Management System! </h1>
        <hr>
        <a class="btn" href="/view_all_emp">View All Employees</a>
        <a class="btn" href="/add_emp">Add An Employee</a>
        <a class="btn" href="/remove_emp">Remove An Employee</a>
        <a class="btn" href="/filter_emp">Filter Employee Details</a>
    </div>
</body>
</html>
